In [80]:
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

data,  target = load_diabetes(return_X_y=True, as_frame=True)

In [11]:
df = pd.DataFrame(data = data)

In [13]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [71]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.639623e-16,1.309912e-16,-8.013951e-16,1.289818e-16,-9.042540e-17,1.301121e-16,-4.563971e-16,3.863174e-16,-3.848103e-16,-3.398488e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [70]:
for col in df.columns:
  print(col + " : ")
  print(df.drop_duplicates(subset=[col]).shape)

age :
(58, 10)
sex :
(2, 10)
bmi :
(163, 10)
bp :
(100, 10)
s1 :
(141, 10)
s2 :
(302, 10)
s3 :
(63, 10)
s4 :
(66, 10)
s5 :
(184, 10)
s6 :
(56, 10)

In [74]:
df.mean()

age   -3.639623e-16
sex    1.309912e-16
bmi   -8.013951e-16
bp     1.289818e-16
s1    -9.042540e-17
s2     1.301121e-16
s3    -4.563971e-16
s4     3.863174e-16
s5    -3.848103e-16
s6    -3.398488e-16
dtype: float64

In [75]:
df.max()

age    0.110727
sex    0.050680
bmi    0.170555
bp     0.132044
s1     0.153914
s2     0.198788
s3     0.181179
s4     0.185234
s5     0.133599
s6     0.135612
dtype: float64

In [76]:
df['age'][10]

-0.0963280162542995

In [89]:
train, test = train_test_split(df,test_size=0.2,train_size=0.8)
train.shape

(353, 10)